@import "src/global";


.todo-view {
  @extend %box;
  display: flex;

  width: 100%;
  min-height: 100px;
  position: relative;
  align-items: stretch;
  justify-content: space-between;

  .todo-body {
    margin: 15px;
    flex-grow: 1;
  }

  .check {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    padding-top: 0px;


    .ant-checkbox-inner {

      padding: 10px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    right: 0;
    width: 40px;
    opacity: 50%;
    transition: opacity 0.2s;

    @media only screen and (max-width: 900px) {
      opacity: 100%;
    }
  }

  &:hover {
    .buttons {
      opacity: 100%;

    }
  }
}