@import "src/global";

.todo-page {
  @extend %page;

  .center-box {
    width: 100vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;


    gap: 20px;


    .todo-container {
      display: flex;
      flex-direction: column;


      gap: 20px;
    }

  }

}